<!DOCTYPE html>
<html>
<head>
  <title>Bows | Kevins Kustom Archery</title>
<style>
</style>
</head>
<body>

<div class="container">
  <div class= "row">
  <br/>
<br/>
    <div class="frosty col-lg-8 col-lg-offset-2 text-center" style="position:relative;" >
      <br/>
      <h1>Featured Bows</h1>
      <br/>
    </div>
    <div>
      <% @bows.each do |bow| %>
        <%= link_to bow_path(bow)  do %>
          <div class="booyah-box-1 col-lg-3 col-sm-4 col-xs-10 col-xs-offset-1">
            <i><%= bow.name %></i>
            <% if bow.photos.present? %>
              <%= image_tag bow.photos.first.picture, class: "img-thumbnail" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="frosty col-lg-8 col-lg-offset-2 text-center" style="position:relative;">
      <br/>
      <h1>Other Bow Shots</h1>
      <br/>
    </div>  
  </div>
</div>

</body>
</html>