<div class= "booyah-box  col-xs-12">
  <h1><%= @bow.name %></h1><br />
  <p><%= @bow.description %></p><br />
</div>

<% @bow.photos.each do |photo| %>
  <%#= image_tag photo.picture %>
  <%#= photo.caption %>
<% end %>