<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  html { background: url(../assets/image_08.jpg) no-repeat center center fixed;
  min-height: 750px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.medium, .small { display:none }
@media screen and (max-width:760px) {
.desktop { display:none }
.medium { display:block }
}
@media screen and (max-width:320px) {
.medium { display:none }
.small { display:block }
}
</style>
</head>

<body>
  <div class="frosty col-xs-8 col-xs-offset-2 text-center">
      <br />
      <h1>Welcome</h1>
        <h2 class= changeFont><%= link_to "Come on in!", bows_path, class: 'myButton' %></h2>
      <h1>to my Workshop!</h1>
        <br />
  </div>
  <div class="hero">
    <p><%#= image_tag 'image_01.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_02.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_03.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_04.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_05.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_06.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_07.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_08.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_09.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_10.jpg', class: 'img-responsive' %></p>
  </div>

</body>
</html>

