<!DOCTYPE html>

<style>
  html { background: url(../assets/image_08.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<html>

<body>
  <div class="frosty col-xs-8 col-xs-offset-2 text-center">
      <br />
      <h1>Welcome!</h1>
        <h2 class= changeFont><%= link_to "Come on in!", bows_path, class: 'myButton' %></h2>
        <br /><br />
  </div>
  <div class="hero">
    <p><%#= image_tag 'image_01.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_02.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_03.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_04.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_05.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_06.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_07.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_08.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_09.jpg', class: 'img-responsive' %></p>
    <p><%#= image_tag 'image_10.jpg', class: 'img-responsive' %></p>
  </div>

</body>
</html>

