<!DOCTYPE html>
<html>
<head>
  <title>Home | Kevins Kustom Archery</title>
</head>
<style>

.medium, .small { display:none }
@media screen and (max-width:760px) {
.desktop { display:none }
.medium { display:block }
}
@media screen and (max-width:320px) {
.medium { display:none }
.small { display:block }
}
</style>
</head>

<body>
  <div id="enter" class="frosty col-xs-10 col-xs-offset-1 text-center" style="position: absolute; margin-top: 0; margin-bottom: 0;">
      <br />
      <h1>Welcome</h1>
        <h2 class= changeFont><%= link_to "Come on in!", bows_path, class: 'myButton' %></h2>
      <h1>to my Workshop!</h1>
        <br />
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("../assets/image_08.jpg");
  </script>
</body>
</html>

