// Place all the styles related to the administrator/bows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require_self
*/
html { 
  background: url(https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/10408747_394845117371989_8230561752933867117_n.jpg?oh=48b953f8c1c5639780dfc24e9847376f&oe=58492E03) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}