// Place all the styles related to the bows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.booyah-box-1 .img-thumbnail {
  height: 100px;
  float: right;
}

@media only screen and (max-width: 425px) {

  .booyah-box-1 p, i {
    float: left;
  }
}

@media only screen and (min-width: 425px) {

  .booyah-box-1 p, i {
    float: left;
    max-width: 50%;
  }
}
