// Place all the styles related to the bows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.booyah-box .img-thumbnail {
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}