<html>
<style>
  body  { 
    background: url(../assets/bows_background2.jpg) no-repeat center center fixed; 
    min-height: 750px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
<body>
  <% @bows.each do |bow| %>
    <%= link_to bow_path(bow)  do %>
      <div class="booyah-box-1 col-xs-10 col-xs-offset-1" >
        <i><%= bow.name %></i>
        </br>
        <p><%= bow.description %></p>
        <% if bow.photos.present? %>
          <%= image_tag bow.photos.first.picture, class: "img-thumbnail" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</body>
</html>