<html>
<style>
</style>
<body>
  <% @bows.each do |bow| %>
    <%= link_to bow_path(bow)  do %>
      <div class="booyah-box-1 col-xs-10 col-xs-offset-1" >
        <i><%= bow.name %></i>
        </br>
        <p><%= bow.description %></p>
        <% if bow.photos.present? %>
          <%= image_tag bow.photos.first.picture, class: "img-thumbnail" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</body>
</html>